pip             22.2
pkg_resources   0.0.0
python-decouple 3.6
python-dotenv   0.20.0
setuptools      44.0.0

decouple~=0.0.7
jupyter~=1.0.0
pip~=22.2
attrs~=21.4.0
distro~=1.7.0
wheel~=0.37.1
cryptography~=37.0.4
Pillow~=9.2.0
docutils~=0.18.1
Sphinx~=5.0.2
tornado~=6.2
Jinja2~=3.1.2
keyring~=23.7.0
click~=6.7
ipython~=8.4.0
setuptools~=63.2.0